ul {
    padding: 0;
    width: 1200px;
    margin: 20px auto;
}

li {
    display: inline;
}

.tn {
    margin: 6px;
    border: 1px solid black;
    box-shadow: #faa 0.5px 0.5px 8px 0.5px;
}

.btn {
    margin: 4px;
}

a:hover {
    text-decoration: none;
}

img:hover {
 opacity: 50%;
}